/* The pdf objects are only shown when you click on a related button in the right column */

    /* MOG pdf <oject> */
#central-doc-pdfobject {
    display: none;
}
    /* MOG pdf <oject> */
#central-doc-pdfobject2 {
    display: none;
}
    /* QF 101 pdf <oject> */
#central-qf101-pdfobject {
    display: none;
}

/* Text element */

.chapter-title {
    font-family: $font-titre;
    font-size: 25px;
    margin-left: 30px;
}

/* The videos elements */

#central-video {
    padding: 0;
    margin: 0;
}
    /* Trying to force the video controls to stay up on the video (they disappear after mouseOut */
video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

    /* Blinking red circle animation (recording) */
.blinking {
    visibility: hidden;
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;
}

@keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* UX Elements (The buttons) */

button {
    border: 1px solid $button-color;
    background-color: $button-color;
    margin-right: 5px;
    color: $blanc;
    padding: 10px 20px 10px 20px;
    transition: background-color 80ms linear;
    &:hover {
        background-color: #edf1f4;
        border: 1px solid $button-color;
        color: $button-color;
        transition: background-color 80ms linear;
    }
    &:active {
        background-color: #9c9fa6;
    }
}
    /* Bouton "Revenir à la démonstration" (default: hidden. Visible only when you display a pdf object or if you decide to record a video) */
#revenirbtn {
    display: none;
}
    /* The live preview <video> element (appears when you click on "Enregistrer une video") */
#livevideofrm {
    display: none;
}
    /* The recorded <video> element (appears when you click on "Stop".) */
#recvideofrm {
    display: none;
}
    /* The start <button> element (appears when you click on "Enregistrer une video".) */
#startbtn {
    display: none;
}
    /* The stop <button> element (appears when you click on "Enregistrer une video".)  */
#stopbtn {
    display: none;
}
    /* The "Revoi" <button> let you see again what you recorded if you switched to another content  */
#revoirbtn {
    display: none;
}