.page-header {
    // overflow: hidden;
    // position: fixed;    
    margin: 0;
    padding: 0;
    background-color: $header-bgcolor;
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
    .logo {
        width: 185px;
    } 
    h1 {
        margin-top: 0;
        font-family: 'montserratbold';
        small {
            
            color: $blanc;
        }
    }
    .nav {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-title-group {
        display: inline-block;
    }
    .header-font-button {
        display: inline-block;
    }
}

