@import 'fonts';
@import 'variables/colors';
@import 'header';
@import 'left-column';
@import 'central-column';
@import 'right-column';
@import 'footer';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-text;
    font-size: 1em;
}

.vh-100 {
    height: 100vh;
    min-height:100vh;
}